<div class="card">
  <img src="" alt="Capa do filme">
  <div class="info-card">
    <p class="titulo">{{filme?.nome}}</p>
    <p class="informacoes">Genero:</p>
    <p class="resultado">{{filme?.genero}}</p>
    <p class="informacoes">Duração</p>
    <p class="resultado">{{filme?.duracao}} minutos</p>
    <p class="informacoes">Sessões</p>
    <p class="resultado">{{filme?.sessoes}}</p>
    <button (click)="onModalChange(true)">Mais detalhes</button>
  </div>
</div>
<div *ngIf="modalAberto">
  <app-modal-filme [filme]="filme" (mudouModal)="onModalChange($event.isTrusted)"></app-modal-filme>
</div>