<div class="home-container">
    <div class="home-text">
        <h1 class="titulo">
            <span style="font-weight: 700;">
                Bem-vindo ao Cinepass
            </span>
            – Sua entrada para o mundo do
            cinema e entretenimento!
        </h1>
        <p>
            Descubra os filmes mais aguardados em cartaz, escolha sua sessão favorita e garanta seus ingressos com
            apenas alguns cliques. No Cinepass, você encontra sinopses, avaliações e muito mais para planejar a melhor
            experiência cinematográfica. Fique por dentro dos próximos eventos e aproveite ao máximo a magia da telona.

        </p>
        <p style="font-size: 1.5rem;">Tudo isso em um só lugar, prático e
            rápido.</p>
    </div>
    <div class="home-image">
        <img src="assets/images/bannercinemahome2.jpg" alt="Cinema">
    </div>
</div>