
.container-card {
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 80px;
    margin-right: 80px;
}

.titulo{
    font-family: "Montserrat";
    font-size: 2rem;
    padding-top: 2rem;
    padding-left: 5rem;
    font-weight: 500;
}


