.container-card {
    width: 100%;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

}

.titulo {
    font-family: "Montserrat";
    font-size: 1.4rem;
    padding-top: 2rem;
    text-align: center;
    font-weight: 500;
}

hr {
    width: 100%;
}

@media (min-width: 768px) {
    .container-card {
        flex-direction: row;
    }

    hr {
        width: 90%;
    }

    .titulo {
        font-size: 1.6rem;
        text-align: left;
        padding-left: 4rem;
    }
}

@media (min-width: 1024px) {
    .container-card {
        flex-direction: row;
    }

    hr {
        width: 90%;
    }

    .titulo {
        font-size: 2rem;
        text-align: left;
        padding-left: 5rem;
    }
}