@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


* {
  margin: 0;
  padding: 0;
}

h1{
  font-size: 24px;
  font-family: "Montserrat";
}

h2,
h3 {
  font-family: "Montserrat";
}

html {
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  padding-bottom: 83px;
}

.container {
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1rem;
}

button:hover {
  background: #050C42;
  transition: all 0.5s ease-in;
  border: 2px solid #050C42;
}

hr {
  width: 90%;
  height: 1px;
  margin: 0 auto;
  background-color: #bfbfbf;
}

@media (min-width: 768px) {
  h1{
    font-size: 36px;
  }
}

@media (min-width: 1024px) {
  h1{
    font-size: 42px;
  }
}