<section *ngIf="statusModal" class="container">
  <div class="card">
    <img class="imagem" src="{{filme?.imagemUrl}}" alt="Capa do filme">
    <div class="info-card">
      <p class="titulo">{{filme?.nome}}</p>
      <p class="informacoes">Genero:</p>
      <p class="resultado">{{filme?.genero}}</p>
      <p class="informacoes">Duração</p>
      <p class="resultado">{{filme?.duracao}}</p>
      <p class="informacoes">Sessões</p>
      <p class="resultado">{{filme?.sessoes}}</p>
    </div>
    <button (click)="fecharModal()" class="botao-fechar">
      <span class="material-symbols-outlined">
        close
      </span>
    </button>
    <div class="sinopse">
      <h4 class="informacoes">Sinopse</h4>
      <p class="resultado">{{filme?.sinopse}}<p>
    </div>
  </div>
  <div class="overlay"></div>
</section>